.icon {
  max-width: 400px;
  margin-left: -0.25rem;
  margin-right: 0rem;

  svg {
    font-size: 14px;

    &[data-emergence='visible'] {
      opacity: 1;
      animation: bounceIn 2s;
    }

    &[data-emergence='hidden'] {
      opacity: 0;
    }
  }

  &:hover {
    animation: pulse 0.5s;
  }
}
